html, body { height: 100% }

#where_things_go {
    display: table;
    height: 100%;
    width: 100%;
}

body { font-family: Futura, Century Gothic, Helvetica, Arial, Sans }
.phrase { font-size:48px; text-align:center; margin-top:20%; }
/*


*/
