html, body { height: 100% }

#where_things_go {
    display: table;
    height: 100%;
    width: 100%;
}

#about_content table {
    width:100%;
    font-family: monospace;
}
#about_content table tr.alt {
    background-color: #dadada;
}
.relations {
    position: absolute;
    top:0px;
    left:0px;
    font-size:10px;
    font-weight:normal;
    text-align: left;
}
th {text-align:left; border-bottom: 1px solid #555}
.graphviz_image { position: absolute; right:0px; top: 0px; }
body { font-family: Futura, Century Gothic, Helvetica, Arial, Sans }
.phrase { font-size:48px; text-align:center; margin-top:20%; }
#about_content {
    width:960px;
    margin:auto;
}
